{%extends 'main/base.html'%}

{% block content%}
<h1>details of blog {{blog.title}}</h1>
 <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            {% if blog.image %}
            <img src="{{ blog.image.url }}" class="card-img-top w-50" alt="Blog Image">
            {% endif %}
            <p class="card-text">{{ blog.content }}</p>
            <p class="card-text"><small class="text-muted">Created at: {{ blog.published_at }}</small></p>
            {% if blog.file %}
            <a href="{{ blog.file.url }}" class="btn btn-primary">Download File</a>
            {% endif %}
            <a href="{% url 'noter:blog_update_view' blog.id%}" class="btn btn-secondary">Edit Blog</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">delete</button>


        </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Game</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are You sure you want to delete {{blog.title}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{% url 'noter:blog_delete_view' blog.id%}" class="btn btn-danger">Delete Blog</a>
        </div>
      </div>
    </div>
  </div>

{%endblock content%}